<form action="/classroom/joinclass" method="POST">
  <input type="text" name="classcode" id="classcode" placeholder="Class code" />
  <input type="text" name="skool" id="skool" />
  <input type="submit" value="Join" />
</form>
