<h1>Student List</h1>
<% joinedclass.forEach(function(joinedclass){ %>
<a
  href="/classroom/<%= joinedclass.classcode %>/student-records/<%= joinedclass.studentname %>"
  ><%= joinedclass.studentname %></a
>
<br />
<% }) %>
